{% extends 'navbar.html' %}

{% load bootstrap4 %}
{% load lang       %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ problem.name }}</h1>
      <p>
        Problem administration page.
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Main tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="descriptions-tab" data-toggle="tab" href="#descriptions" role="tab" aria-controls="descriptions" aria-selected="true">Descriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="testcases-tab" data-toggle="tab" href="#testcases" role="tab" aria-controls="testcases" aria-selected="false">Test Cases</a>
      </li>
    </ul>

    <div class="tab-content" id="problem-descriptions-tab">
      <!-- Overview -->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        Some general informations about the problem
      </div>

      <!-- Descriptions -->
      <div class="tab-pane fade show active" id="descriptions" role="tabpanel" aria-labelledby="descriptions-tab">
        <div class="container">
          <p>
            <br/>Here is the list of available descriptions.
          </p>
          <div class="btn-group" role="group">
            <button id="add-desc-drop" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add a new description
            </button>
            <div class="dropdown-menu" aria-labelledby="add-desc-drop">
              {% for lang in available_languages %}
                {% if lang not in description_languages %}
                  <a class="dropdown-item" href="#">
                    {{ lang }} - {{ lang | lang_full_name }}
                  </a>
                {% else %}
                  <span class="dropdown-item false-disabled-link" title="A description is already available for this language.">
                    {{ lang }} - {{ lang | lang_full_name }}
                  </span>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <br/>

        <div class="row">
          {% for description in descriptions %}
            <div class="col-lg-6 description-container">
              <div class="card description">
                <div class="card-header">
                  {{ description.language | lang_full_name }} - {{ description.language }}
                  <a class="float-right btn btn-sm btn-success" href="{% url "description_edit" problem_id=problem.id lang=description.language %}">edit</a>
                  <a class="float-right btn btn-sm btn-danger" href="{% url "description_delete" problem_id=problem.id lang=description.language %}">
                    delete
                  </a>
                </div>
                <div class="card-body">
                  <h1 class="card-title">{{ description.name }}</h1>
                  <div class="card-text problem-description">
                    {{ description.content_as_html | safe }}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Test Cases -->
      <div class="tab-pane fade" id="testcases" role="tabpanel" aria-labelledby="testcases-tab">
        <br />

        {% for testcase in testcases %}
          <div class="example row">
            <div class="col-sm-6">
              <pre class="input">{{ testcase.input }}</pre>
            </div>
            <div class="col-sm-6">
              <pre class="output">{{ testcase.output }}</pre>
            </div>
            <div class="col-sm-12">
              <a class="btn btn-sm btn-danger float-right" href="{% url "testcase_delete" testcase_id=testcase.id %}">
                Remove
              </a>
              <button class="btn btn-sm btn-primary float-right mr-1" disabled>
                Modify
              </button>
            </div>
          </div>
        {% endfor %}

        <div class="text-center">
          <button class="btn btn-link text-center" data-toggle="modal" data-target="#add-testcase-modal">
            + Add a new testcase
          </button>
          <!-- Add testcase modal -->
          <div class="modal fade" id="add-testcase-modal" tabindex="-1" role="dialog" aria-labelledby="add-testcase-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="add-testcase-label">Upload a new attachment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="#testcases-tab" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form">
                      {% bootstrap_form add_testcase_form layout='horizontal' %}
                    </div>
                  </div>
                  <div class="modal-footer">
                    {% buttons %}
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" name="add-testcase" class="btn btn-primary">Add testcase</button>
                    {% endbuttons %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
  </div>
{% endblock %}
